<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${errorTitle}">Error</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<div class="logo-container">
    <img src="logo.png" alt="Polify Logo" class="logo-img">
</div>
<body>
<div class="container">
    <div class="auth-section">
        <h1 th:text="${errorTitle}">Error</h1>
        <p th:text="${errorMessage}">Error details...</p>

        <div class="error-details">
            <p><strong>Error code:</strong>
                <span th:text="${statusCode}">N/A</span>
            </p>
            <p><strong>Request URI:</strong>
                <span th:text="${requestUri}">N/A</span>
            </p>
            <p><strong>Exception Type:</strong>
                <span th:text="${exceptionType}">N/A</span>
            </p>
            <p><strong>Stack trace:</strong></p>
            <div th:utext="${stackTrace}">
                No trace available
            </div>
        </div>
        <form th:action="@{/homePage.html}" method="get">
        <button type="submit">Back to HomePage</button>
        </form>
    </div>
</div>
</body>
</html>
