<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <display-name>TIW-PLAYLIST-MANAGER</display-name>
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mariadb://localhost:3306/ciao</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>giuse</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>Giuseppe</param-value>
    </context-param>
    <context-param>
        <param-name>dbDriver</param-name>
        <param-value>org.mariadb.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>UPLOAD_BASE</param-name>
        <param-value>/Users/giuseppedambrosi/uploadsForProject</param-value>
    </context-param>
    <error-page>
        <exception-type>java.lang.IllegalStateException</exception-type>
        <location>/ErrorHandler</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/ErrorHandler</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/ErrorHandler</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/ErrorHandler</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/ErrorHandler</location>
    </error-page>
    <filter>
        <filter-name>Checker</filter-name>
        <filter-class>it.polimi.progettotiw.filter.Checker</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Checker</filter-name>
        <url-pattern>/loginPage.html</url-pattern>
        <url-pattern>/CheckPassword</url-pattern>
        <url-pattern>/CheckRegistration</url-pattern>
        <url-pattern>/homePage.html</url-pattern>
        <url-pattern>/GetAlbumData</url-pattern>
        <url-pattern>/GetGenresData</url-pattern>
        <url-pattern>/GetPlaylistData</url-pattern>
        <url-pattern>/GetTrackData</url-pattern>
        <url-pattern>/GetUserPlaylistsData</url-pattern>
        <url-pattern>/GetUserTracksData</url-pattern>
        <url-pattern>/SaveAlbum</url-pattern>
        <url-pattern>/UploadTrack</url-pattern>
        <url-pattern>/SavePlaylist</url-pattern>
        <url-pattern>/AddTracksToPlaylist</url-pattern>
        <url-pattern>/SavePlaylistOrder</url-pattern>
        <url-pattern>/uploads/*</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>loginPage.html</welcome-file>
    </welcome-file-list>
</web-app>
